.main_container {
  width: 80%;
  height: 100%;
  height: fit-content;
}
.card_container {
  height: 30%;
  margin: 3%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#section1 {
  height: 40%;
  width: 98%;
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
  margin: 1%;
  padding: 1%;
  justify-content: center;
  align-items: center;
}
#section1 > div {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px rgb(235, 230, 230);
}
#section2,
#section3 {
  /* background-color: red; */
  padding: 1.5%;
  height: 60%;
  width: 95%;
  margin: 2% 2.5%;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px 5px rgb(235, 230, 230);
}

@media only screen and (max-width: 800px) {
  .main_container {
    width: 100% !important;
    font-size: 0.6rem;
  }
  .items_container{
    font-size: 0.6rem;
  }
  #section1 > div {
    width: 100%;
  }
 
}